:root{
    --padlen: 1.5em;
}

html{
    margin: 0;
	padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color:#eef2ff;
    background-position: center top;
    background-attachment: fixed;
    opacity: 0.85;
    color: rgb(26, 26, 26);
}

h1, h2, h3, h4{
    text-transform: uppercase;
    text-align: center;
}

h1{font-size: 120%;}
h2{font-size: 95%;}
h3{font-size: 75%;}
h4{font-size: 65%;}

a{
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.content { 
    max-width: 800px;
    margin: 0 auto;
 }

 .imgContainer{
    text-align: center;
}

button {
    font-size: 100%;
    color: blue;
}

